body {
  padding-top: 56px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f3eb;
}

.card,
.navbar,
footer,
.container-element {
  background-color: #f8f8f8;
}
